fieldset {
    position: relative;
    border:0;   
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin-bottom: 2rem;
}

.main-input {
    padding: .2rem 1rem;
    border-radius: 10px;
    border:1px solid #585858;
    width: 100%;
    height:43px;
    outline: 0;
    font-size: .8rem;
    
}

.checkbox-label {
    width:30px;
    height:30px;
    border-radius: 50%;
    background-color: var(--light-grey);
    border: 1px solid var(--light-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    margin-right: 10px;
}

.inside-label {
    position: absolute;
    margin-left:1rem;
    left:0;
    padding: 0 .2rem;
    font-size: .9rem;
    display: flex;
    align-items: center;
    color: #585858;
    transition: all ease 100ms;
    background-color: transparent;
}

.main-input:valid, .main-input:focus {
    border:1px solid var(--main-blue);
}

.main-input:valid + .inside-label,.main-input:focus + .inside-label  {
    top:0;
    transform: translateY(-50%);
    background-color: #fff;
    color: var(--main-blue)
}

.label-container {
    display: flex;

}

.checkbox-title {
    margin-bottom: 1rem;
    font-size:.9rem;
}
