.header {
    height: 40px;
    color: #fff;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(45deg, #000 0%, #0e0e0e 100%);
}

.header .date {
    font-size: .8rem;
}